<h1>{{t 'layout.application.title'}}</h1>
<header class="header">
  <FaIcon @icon="ember" @prefix="fab" @size="3x" class="logo" />

  <div class="locale-menu-container">
    <LocaleMenu />
  </div>

</header>
