<header class="header">
  <div class="logo-with-title">
    <FaIcon @icon="ember" @prefix="fab" class="logo" />

    <h1 class="subtitle">
      <span class="sr-only">{{t 'layout.application.title'}}</span>
      <span class="not-sr-only">{{t 'layout.application.shortTitle'}}</span>
    </h1>
  </div>

  <LocaleMenu />
</header>
