<header class="header">
  <img
    alt={{t "layout.application.logo-alt-text"}}
    class="logo"
    src="/assets/ember-octane_text-treatment.png"
  >

  <div class="locale-menu-container">
    <LocaleMenu />
  </div>
</header>
