<nav>
  <LinkTo @route="docs.index">
    Home
  </LinkTo>

  <span>|</span>

  <LinkTo @route="docs.templates">
    Templates
  </LinkTo>

  <span>|</span>

  <LinkTo @route="docs.components">
    Components
  </LinkTo>
</nav>
