.locale-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: block;
}

.locale-menu .select {
  padding: 0.25rem 0.5rem;
}

.locale-menu[data-container-query-wide] {
  align-items: center;
  flex-direction: row;
}

.locale-menu[data-container-query-wide] .select {
  margin: 0 0 0 0.5rem;
}

@media screen and (max-width: 60rem) {

  .locale-menu {
    position: static;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
  }

}

@media screen and (max-width: 30rem) {
  .locale-menu {
    padding: 0.5rem;
    display: grid;
  }
}
