.subsection {
  padding-top: 1rem;
}

.subsection .title-container {
  align-items: center;
  border-bottom: 1px solid #E04E39;
  display: grid;
  grid-gap: 0 1rem;
  grid-template-areas:
    "permalink title";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

.subsection .title {
  grid-area: title;
  word-break: break-word;
}

.subsection .permalink {
  grid-area: permalink;
  text-decoration: none;
}

.subsection .description {
  margin-top: 0.5rem;
}

/* Edit link */
.subsection .edit-link-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
