{{!-- TODO: figure out latest version?
      or leave it as release?
--}}

<li>
  <a
    href="https://api.emberjs.com/ember/release/{{@to}}"
    target="_blank"
    rel="noreferrer noopener">
   {{yield}}
  </a>
</li>
