{{page-title (t 'layout.application.title')}}

<div class="grid body-wrapper">
  <Nav />
  <Header />

  <main>
    <p>{{t 'layout.application.description-1' htmlSafe=true}}</p>
    <p>{{t 'layout.application.description-2' htmlSafe=true}}</p>

    {{outlet}}
  </main>
</div>